.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Bookshelf {
  border: 5px solid rgb(65, 208, 255);
  border-radius: 25px;
  background-color: #ffffff;
  color: black;
  font-size: 0.75em;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  padding: 25px;
  text-align: left;
}

#bold {
  font-weight: bold;
}